.Header {
    background-color: tomato;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: tomato;
    color: white;
    padding: 20px;
    text-align: center;
}

.kereta-container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.kereta-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kereta-item{
    background-color: thistle;
    padding: 20px;
    margin: 10px;
    flex: 0 1 calc(33.33% - 20px);
    box-sizing: border-box;
}